.paragraphs-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; /* Espace entre les paragraphes */
    max-width: 1200px; /* Ajustez selon vos besoins */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    padding: 5rem;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px, rgba(0, 0, 0, 0.1) 0 4px 4px,
        rgba(0, 0, 0, 0.1) 0 8px 8px, rgba(0, 0, 0, 0.1) 0 16px 16px,
        rgba(0, 0, 0, 0.1) 0 32px 32px, rgba(0, 0, 0, 0.1) 0 64px 64px;
    border-radius: 12px; */
}

.paragraphs-container p {
    line-height: 0.5; /* Ajustez cette valeur selon vos besoins */
}

.container-s-4 {
    height: 100vh; /* Changé de vw à vh pour la hauteur */
    width: 100vw;
    padding-top: 5rem;
}

.subtitle {
    font-size: 1.3rem;
    opacity: 0.5;
    color: red;
}

.paragraph {
    flex: 1;
    min-width: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

@media (max-width: 850px) {
    .paragraphs-container p {
        line-height: 1;
    }
}
