.paragraphs-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; /* Espace entre les paragraphes */
    max-width: 1200px; /* Ajustez selon vos besoins */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    /* padding: 5rem; */ /* Cette ligne a été supprimée */
}

.paragraphs-container p {
    line-height: 0.5; /* Ajustez cette valeur selon vos besoins */
}

.container-s-4 {
    height: 50vh; /* Changé de vw à vh pour la hauteur */
    width: 100vw;
    padding-top: 5rem;
}

.subtitle {
    font-size: 1rem;
    opacity: 0.5;
    color: red;
}

.paragraph {
    flex: 1;
    min-width: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

@media (max-width: 850px) {
    .paragraphs-container p {
        /* line-height: 1; */
    }
}
