.sticky-section {
    position: -webkit-sticky; /* Pour la compatibilité avec les anciens navigateurs */
    position: sticky;
    top: 0;
    height: 200vh; /* 200% de la hauteur de la fenêtre */
    background-color: #c72626; /* Couleur de fond rouge */
    background-image: url("../src/assets/Noise.png");
    font-size: 3.5vw; /* Taille du texte en unités viewport width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Couleur du texte en blanc */
    /* padding-bottom: 10vh; */
    /* Padding en bas en unités viewport height */
}
p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.deco {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
}

.left,
.right {
    width: 15%;
    max-width: 6rem;
    height: auto;
    object-fit: contain;
    filter: invert(14%) sepia(90%) saturate(5786%) hue-rotate(358deg)
        brightness(95%) contrast(117%);
}

.right {
    width: 15%; /* Assurez-vous que cette valeur est identique à celle de .left */
    max-width: 6rem; /* Ajustez cette valeur si nécessaire pour qu'elle corresponde à .left */
}

h3 {
    flex: 0 1 auto;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 0 1rem;
    white-space: nowrap;
    color: #c72626; /* Assurez-vous que cette couleur correspond à celle des images */
}

html,
body,
#root {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.deco-icon {
    font-size: 2rem;
    color: #c72626;
    margin: 0 1rem;
}

.deco h3 {
    color: red;
    /* autres propriétés existantes */
    flex: 0 1 auto;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 0 1rem;
    white-space: nowrap;
}
