.main3 {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: red;
}

.gallery {
    width: 70%;
}

.project a {
    border-top: 2px solid black;

    padding-top: 0.8vw;

    padding-bottom: 0.8vw;

    cursor: pointer;

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}
.project a p {
    font-size: 5vw;
    font-family: Speltale;
    margin: 0px;
}
a {
    text-decoration: none;
    color: red;
}
.project a p:nth-of-type(1) {
    margin-right: 0.75vw;
}

.project a p:nth-of-type(2) {
    margin-left: 0.75vw;
}

.project:last-of-type {
    border-bottom: 2px solid black;
}

.project a img {
    width: 10vw;
    border-radius: 100px;
}
.project a .imgContainer {
    overflow: hidden;

    display: flex;

    justify-content: center;

    width: 0;
}
